body{
    background-image: url(images/background.jpg);
    display: grid;
    font-family: 'Raleway', sans-serif;
    grid-template-columns: 45% 55%;
    grid-template-areas: "header header" 
                         "nav nav"
                         "aside main"
                         "footer footer";
}

header{
    grid-area: header;
    font-family: 'Shadows Into Light'; 
    font-size: 1.5em;
    letter-spacing: 7px;
    text-align: center;
}


aside{
    padding: 5px;
    margin: 50px;
}
aside img{
    width: 450px;
    height: 700px;
}



nav{
    grid-area: nav;
    opacity: 0.5;
    padding: 5px;

    text-align: center;
    font-size: large;
}
nav:hover{
    display: block;
    font-size: larger;
    opacity: 1;
    
}
li{
    display: inline-block;
    padding: 5px;
}
a{
    color: black;
    padding: 5px;
    text-decoration: none;
}
a:hover{
    font-size: x-large;
}

main{
    grid-area: main;
    padding: 10px;

}
h2{
    text-align: center;
}

form{
    font-size: 15px;
}

input[type=text]{
    width: 250px;
    padding: 10px;
}
#email_address{
    width: 720px;
    padding: 10px;
}
#comment_section{
    width: 720px;
    height: 100px;
    padding: 10px;

}
#contact_number{
    width: 720px;
    padding: 10px;
}

footer{
    grid-area: footer;
    text-align: center;
}


#hamburger{
    display: none;
}
.hamburger_menu{
    display: none;
}