body{
    background-image: url(images/background.jpg);
    display: grid;
    font-family: 'Raleway', sans-serif;
    grid-template-areas: "header header"
                         "nav  main"
                         "footer footer";                   
}



header{
    grid-area: header;
    font-family: 'Raleway', sans-serif;
    font-size: 1.5em;
    letter-spacing: 7px;
    text-align: center;
}



aside{
    padding: 5px;
    margin: 50px;
}
aside img{
    width: 450px;
    height: 700px;
}



nav{
    grid-area: nav;
    opacity: 0.5;
    padding: 5px;
    transition: opacity 1.1s ease-in;
    text-align: center;
    font-size: larger;
}
nav:hover{
    display: block;
    opacity: 1;
    font-size: larger;
}
li{
    padding: 5px;
    list-style-type: none;
    display: inline-block;
}
a{
    text-decoration: none;
    padding: 5px;
    color: black;
}
a:hover{
    font-size: x-large;
}



footer{
    grid-area: footer;
    text-align: center;
}