body{
    background-image: url(images/background.jpg);
    display: grid;
    font-family: 'Raleway', sans-serif;
    grid-template-areas: "header header"
                         "nav nav"
                         "aside main"
                         "footer footer";                   
}



header{
    grid-area: header;
    font-family: 'Raleway', sans-serif;
    font-size: 1.5em;
    letter-spacing: 7px;
    text-align: center;
}



aside{
    grid-area: aside;
    padding: 5px;
    margin: 50px;
}
aside img{
    width: 450px;
    height: 700px;
}


main{
    grid-area: main;
    font-size: 2.0em;
}



nav{
    grid-area: nav;
    opacity: 0.5;
    padding: 5px;
    text-align: center;
    font-size: larger;
}

nav:hover{
    display: block;
    opacity: 1;
    font-size: larger;
}
li{
    padding: 5px;
    display: inline-block;
}
a{
    padding: 5px;
    color: black;
    text-decoration: none;
}
a:hover{
    font-size: x-large;
}


footer{
    grid-area: footer;
    text-align: center;
}

#hamburger{
    display: none;
}
.hamburger_menu{
    display: none;
}